@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  background-color: #111;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

#passwordResult {
  font-size: 16px;
  padding-right: 10px;
  max-width: 300px;
}

button {
  background-color:#55f;
  border:1px solid #241d13;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:19px;
  font-weight:bold;
  padding:9px 14px;
  text-decoration:none;
  text-shadow:0px 0px 5px #000;
  transition: 0.15s;
}
button:hover {
  background-color:#33a;
}

#generateFunctional {
 display: grid;
 grid-template-columns: 2fr 1fr;
}

#chooseLengthDiv {
  padding-left: 50px;
}

#chooseLengthP, #timeToCrackP {
  color: #999;
}

#checkboxes {
  padding-right: 50px;
  width: 100px;
  display: grid;
  grid-template-columns: auto auto;
  font-size: 16px;
  align-items: center;
  justify-items: left;
}
